<div class="container">
  <%= render partial: "partials/header" %>

  <div class="twelve columns" style="text-align: center; color: #2BAFD9; font-size: 5em; line-height: 1;">
    Score:<span id="results">0</span>
  </div>

  <form>
    <div class="row">
      <div class="six columns">
        <label for="reps">Reps</label>
        <%= text_field_tag "reps", nil, :class => "u-full-width", :type => "number" %>
      </div>
      <div class="six columns">
        <label for="weight">Weight</label>
        <%= text_field_tag "weight", nil, :class => "u-full-width", :type => "number" %>
      </div>
    </div>
  </form>
</div>

<%= render partial: "partials/links" %>
<%= render partial: "partials/footer" %>
